<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='informatica/css/styles.css') }}">
    <title>Página Principal - Informática</title>
</head>

<body>
    <div class="header-container">
        <h1 class="titulo">ACADEMYREPORT - INFORMÁTICA</h1>
    </div>

    <div class="botones-container-principal">
        <button onclick="location.href='/informatica/informatica_index'">ASIGNACIÓN ACADÉMICA</button>
        <button onclick="location.href='/informatica/informatica_reporteador'">REPORTEADOR</button>
    </div>
</body>

</html>