<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Tecnológico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='industrial/css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
</head>

<body>
    <div class="header-container">
        <h1 class="titulo">Bienvenido</h1>
        <!-- Aquí se coloca el contenedor para los botones -->
        <div class="botones-container">
            <button onclick="window.location.href='/';">Volver</button>
        </div>
    </div>

    <!-- FORMULARIO PARA PROFESORES -->
    <div>
        <form id="add-profesor-form">
        </form>
    </div>
    <!-- FORMULARIO DE ASIGNATURAS -->
    <div>
        <form id="add-asignatura-form">
        </form>
    </div>
    <!-- FORMULARIO DE ASIGNATURAS ESPECIALES -->
    <div>
        <form id="add-asignaturaE-form">
        </form>
    </div>


    <div>
        <!-- EXPORTACION DE EXCEL -->

        <h2>Exportar</h2>
        <form id="export-form" method="POST" action="/export">
            <label for="collection">Colección:</label>
            <select id="collection" name="collection" required>
                <option value=""></option>
                <option value="profesores">Profesores</option>
                <option value="asignaturas">Asignaturas</option>
            </select><br>

            <label for="export-format">Formato:</label>
            <select id="export-format" name="format" required>
            <option value="xlsx">Excel (.xlsx)</option>
            <option value="csv">CSV (.csv)</option>
        </select><br>

            <div id="columns-container">
                <!-- Checkboxes will be generated here -->
            </div>

            <button type="submit">Exportar Datos</button>

        </form>
    </div>

    <div>
        <h2>Exportar Reporte de Profesores</h2>
        <!-- Botones para cargar y seleccionar -->
        <button id="load-professors">Cargar Profesores</button>
        <button id="select-all">Seleccionar Todos</button>

        <!-- Formulario emergente para solicitar FECHA DE APLICACIÓN y CONSECUTIVO -->
        <form id="export-selected-form" method="POST" action="/export-selected">
            <div id="professor-list-container">
                <!-- Lista dinámica de profesores cargada desde el servidor -->
            </div>
            <br><br>
            <label for="fechaAplicacion">Fecha de Aplicación:</label>
            <input type="date" id="fechaAplicacion" name="fechaAplicacion" required>
            <label for="consecutivo">Consecutivo:</label>
            <input type="text" id="consecutivo" name="consecutivo" required>
            <button type="submit">Exportar Excel</button>
        </form>

        <!-- Botón para exportar a PDF -->
        <form id="export-pdf-form" method="POST" action="/export-selected-pdf">
            <div id="professor-list-container-pdf">
                <!-- Lista dinámica de profesores cargada desde el servidor -->
            </div>
            <br><br>
            <label for="fechaAplicacionPdf">Fecha de Aplicación:</label>
            <input type="date" id="fechaAplicacionPdf" name="fechaAplicacion" required>
            <label for="consecutivoPdf">Consecutivo:</label>
            <input type="text" id="consecutivoPdf" name="consecutivo" required>
            <button type="submit">Exportar PDF</button>
        </form>
    </div>

    <div>
        <h2>Actualizar Formato</h2>
        <form id="uploadImagesForm" action="/upload-images" method="POST" enctype="multipart/form-data">
            <label for="header">Subir Encabezado:</label>
            <input type="file" name="header" accept="image/*">
            <br>
            <label for="footer">Subir Pie de Página:</label>
            <input type="file" name="footer" accept="image/*">
            <br><br>
            <button type="submit">Actualizar Imágenes</button>
        </form>
    </div>

    <!-- Div para mostrar mensajes -->
    <div id="mensaje"></div>

    <div>
        <h2>Actualizar Texto en Celda A4</h2>
        <form id="updateTextForm" action="/update-text" method="POST">
            <label for="nuevo_texto">Nuevo Texto:</label>
            <input type="text" id="nuevo_texto" name="nuevo_texto" required>
            <br><br>
            <button type="submit">Actualizar Texto</button>
        </form>
    </div>

    <!-- Div para mostrar mensajes -->
    <div id="mensaje"></div>

    <script src="{{ url_for('static', filename='industrial/js/export.js') }}"></script>
</body>

</html>