<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Apoyo a la Docencia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='electromecanica/css/styles.css') }}">
</head>

<body>
    <div class="header-container3">
        <h1>Editar Apoyo a la Docencia</h1>
        <div class="botones-container">
            <button onclick="window.location.href='/electromecanica/electromecanica_asignaturasE';">Volver</button>
        </div>
        
    </div>

    <form id="edit-asignaturaE-form" data-id="{{ asignaturaE['_id'] }}" onsubmit="transformarMayusculas()">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ asignaturaE.nombre }}" required><br>

        <label for="horas">Horas:</label>
        <input type="number" id="horas" name="horas" value="{{ asignaturaE.horas }}" required><br>

        <button type="submit">Guardar</button>
    </form>

    <script>
        document.getElementById('edit-asignaturaE-form').addEventListener('submit', function(e) {
            e.preventDefault();
            const id = document.getElementById('edit-asignaturaE-form').getAttribute('data-id');
            const data = {
                nombre: document.getElementById('nombre').value,
                horas: parseInt(document.getElementById('horas').value) || 0
            };

            fetch(`/electromecanica/electromecanica_asignaturasE/${id}`, {  // 🔹 Ruta actualizada para Electromecánica
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.msg);
                })
                .catch(error => console.error('Error:', error));
        });

        function transformarMayusculas() {
            var inputs = document.querySelectorAll('input[type="text"]');
            inputs.forEach(function(input) {
                input.value = input.value.toUpperCase();
            });
        }
    </script>
</body>

</html>