<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrativos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='industrial/css/styles.css') }}">
</head>

<body>
    <div class="header-container3">
        <h1>Lista de Administrativos</h1>
        <button onclick="window.location.href='/index';">Volver</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for administrativo in administrativos %}
            <tr>
                <td>{{ administrativo['nombre'] }}</td>
                <td>{{ administrativo['cargo'] }}</td>
                <td>
                    <button onclick="deleteAdministrativo(`{{ administrativo['_id'] }}`)">Eliminar</button>
                    <a class="edit-button" href="{{ url_for('edit_administrativo', id=administrativo['_id']) }}">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="{{ url_for('static', filename='industrial/js/app.js') }}"></script>
</body>

</html>