<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignaturas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='industrial/css/styles.css') }}">
</head>

<body>
    <div class="header-container3">
        <h1>Lista de Asignaturas</h1>
        <button onclick="window.location.href='/index';">Volver</button>
    </div>
    <table>
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <th>Nombre</th>
                <th>Horas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for asignatura in asignaturas %}
            <tr>
                <!-- <td>{{ asignatura['_id'] }}</td> -->
                <td>{{ asignatura['nombre'] }}</td>
                <td>{{ asignatura['horas'] }}</td>
                <td>
                    <button onclick="deleteAsignatura(`{{ asignatura['_id'] }}`)">Eliminar</button>
                    <a class="edit-button" href="{{ url_for('edit_asignatura', id=asignatura['_id']) }}">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="{{ url_for('static', filename='industrial/js/app.js') }}"></script>
</body>

</html>