<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal - Industrial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='industrial/css/styles2.css') }}">
</head>

<body>
    <!-- 🔹 Encabezado Fijo -->
    <header class="header">
        <h1>AcademyReport</h1>
    </header>

    <!-- 🔹 Contenedor principal -->
    <div class="main-container">
        <div class="content">
            <!-- 🔹 Agregamos la imagen del título -->
            <img src="{{ url_for('static', filename='industrial/img/titulo.png') }}" alt="Ingeniería Industrial" class="title-img">

            <!-- 🔹 Botones alineados verticalmente -->
            <div class="button-group">
                <button class="tooltip-btn" data-tooltip="Sección para agregar, actualizar, visualizar y editar la información docente, asignaturas de la carrera y apoyo a la docencia." 
                        onclick="location.href='/index'" style="color: #111E48;">
                    Asignación Académica
                </button>
            
                <button class="tooltip-btn" data-tooltip="Sección para realizar exportación de datos generales de docentes, exportación de académica de docentes y actualización de recursos. " 
                        onclick="location.href='/reporteador'" style="color: #111E48;">
                    Reporteador
                </button>
            
                <button class="logout-btn" onclick="window.location.href='/auth/logout';">Cerrar Sesión</button>
            </div>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='industrial/img/background.png') }}" alt="Background">
        </div>
    </div>
</body>
</html>
