<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Tecnológico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
</head>

<body>
    <div class="header-container">
        <h1 class="titulo">Bienvenido</h1>
        <!-- Aquí se coloca el contenedor para los botones -->
        <div class="botones-container">
            <button data-url="{{ url_for('get_all_profesores') }}">Ver Profesores</button>
            <button data-url="{{ url_for('get_all_asignaturas') }}">Ver Asignaturas</button>
            <button data-url="{{ url_for('get_all_asignaturasE') }}">Ver Asignaturas Especiales</button>
            <button onclick="window.location.href='/';">Volver</button>
        </div>
    </div>

    <div class="header-container2">
        <h2 id="toggle-profesor-form">Añadir Profesor</h2>
        <h2 id="toggle-asignatura-form">Añadir Asignatura</h2>
        <h2 id="toggle-asignaturaE-form">Añadir Asignatura Especial</h2>
    </div>
    <div>

        <!-- FORMULARIO PARA PROFESORES -->
        <form id="add-profesor-form" onsubmit="transformarMayusculas()">
            <label for="nombre">Nombre Completo:</label>
            <input type="text" id="nombre" name="nombre" required><br>

            <label for="profesion">Profesión:</label>
            <input type="text" id="profesion" name="profesion" required><br>

            <label for="adscripcion">Adscripción:</label>
            <input type="text" id="adscripcion" name="adscripcion" required><br>

            <label for="fecha_ingreso">Fecha de Ingreso al Tecnológico:</label>
            <input type="text" id="fecha_ingreso" name="fecha_ingreso" placeholder="01 de MARZO de 2011" required><br>

            <label for="tiempo_indeterminado">Tiempo Indeterminado:</label>
            <select id="tiempo_indeterminado" name="tiempo_indeterminado" required>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
            </select><br>

            <label for="periodo_actual">Periodo Actual (2024-1):</label>
            <input type="text" id="periodo_actual" name="periodo_actual" required><br>

            <label for="horas_a">Cantidad de Horas A:</label>
            <input type="number" id="horas_a" name="horas_a" oninput="calcularTotalHoras()"><br>

            <label for="horas_b">Cantidad de Horas B:</label>
            <input type="number" id="horas_b" name="horas_b" oninput="calcularTotalHoras()"><br>

            <label for="total_horas">Total de Horas:</label>
            <input type="number" id="total_horas" name="total_horas" readonly required><br>

            <!-- Nuevos campos para asignatura y horas dinamicos-->
            <table class="form-group">
                <thead>
                    <tr>
                        <th></th>
                        <th>Asignaturas</th>
                        <th>Grupo</th>
                        <th>Horas</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sábado</th>
                    </tr>
                </thead>
                <tr>
                    <td><label for="asignatura1">1.</label></td>
                    <!-- ASIGNATURA -->
                    <td>
                        <input type="text" id="asignatura1" name="asignatura1" list="asignatura-list1">
                        <datalist id="asignatura-list1"></datalist>
                    </td>
                    <!-- GRUPO ASIGNATURAS -->
                    <td>
                        <select id="grupo1" name="grupo1" class="group">
                    </select></td>
                    <!-- HORAS ASIGNATURAS -->
                    <td>
                        <input type="number" id="horas1" name="horas1" class="groupHoras">
                    </td>
                    <!-- HORARIOS -->
                    <!-- LUNES -->
                    <td>
                        <select id="hora_inicio11" name="hora_inicio11" class="hora-inicio"></select>
                        <select id="hora_fin11" name="hora_fin11" class="hora-fin"></select>
                    </td>

                    <!-- MARTES -->
                    <td>
                        <select id="hora_inicio12" name="hora_inicio12" class="hora-inicio"></select>
                        <select id="hora_fin12" name="hora_fin12" class="hora-fin"></select>
                    </td>

                    <!-- MIERCOLES -->
                    <td>
                        <select id="hora_inicio13" name="hora_inicio13" class="hora-inicio"></select>
                        <select id="hora_fin13" name="hora_fin13" class="hora-fin"></select>
                    </td>

                    <!-- JUEVES -->
                    <td>
                        <select id="hora_inicio14" name="hora_inicio14" class="hora-inicio"></select>
                        <select id="hora_fin14" name="hora_fin14" class="hora-fin"></select>
                    </td>

                    <!-- VIERNES -->
                    <td>
                        <select id="hora_inicio15" name="hora_inicio15" class="hora-inicio"></select>
                        <select id="hora_fin15" name="hora_fin15" class="hora-fin"></select>
                    </td>

                    <!-- SABADO -->
                    <td>
                        <select id="hora_inicio16" name="hora_inicio16" class="hora-inicio"></select>
                        <select id="hora_fin16" name="hora_fin16" class="hora-fin"></select>
                    </td>
                </tr>
                <tr>
                    <td><label for="asignatura2">2.</label></td>
                    <td>
                        <input type="text" id="asignatura2" name="asignatura2" list="asignatura-list2">
                        <datalist id="asignatura-list2"></datalist>
                    </td>

                    <td>
                        <select id="grupo2" name="grupo2" class="group">
                        </select>
                    </td>

                    <td>
                        <input type="number" id="horas2" name="horas2" class="groupHoras">
                    </td>
                    <!-- HORARIOS -->
                    <!-- LUNES -->
                    <td>
                        <select id="hora_inicio21" name="hora_inicio21" class="hora-inicio"></select>
                        <select id="hora_fin21" name="hora_fin21" class="hora-fin"></select>
                    </td>

                    <!-- MARTES -->
                    <td>
                        <select id="hora_inicio22" name="hora_inicio22" class="hora-inicio"></select>
                        <select id="hora_fin22" name="hora_fin22" class="hora-fin"></select>
                    </td>

                    <!-- MIERCOLES -->
                    <td>
                        <select id="hora_inicio23" name="hora_inicio23" class="hora-inicio"></select>
                        <select id="hora_fin23" name="hora_fin23" class="hora-fin"></select>
                    </td>

                    <!-- JUEVES -->
                    <td>
                        <select id="hora_inicio24" name="hora_inicio24" class="hora-inicio"></select>
                        <select id="hora_fin24" name="hora_fin24" class="hora-fin"></select>
                    </td>

                    <!-- VIERNES -->
                    <td>
                        <select id="hora_inicio25" name="hora_inicio25" class="hora-inicio"></select>
                        <select id="hora_fin25" name="hora_fin25" class="hora-fin"></select>
                    </td>

                    <!-- SABADO -->
                    <td>
                        <select id="hora_inicio26" name="hora_inicio26" class="hora-inicio"></select>
                        <select id="hora_fin26" name="hora_fin26" class="hora-fin"></select>
                    </td>
                </tr>


                <tr>
                    <td><label for="asignatura3">3.</label></td>
                    <td>
                        <input type="text" id="asignatura3" name="asignatura3" list="asignatura-list3">
                        <datalist id="asignatura-list3"></datalist>
                    </td>

                    <td>
                        <select id="grupo3" name="grupo3" class="group">
                        </select>
                    </td>

                    <td>
                        <input type="number" id="horas3" name="horas3" class="groupHoras">
                    </td>
                    <!-- HORARIOS -->
                    <!-- LUNES -->
                    <td>
                        <select id="hora_inicio31" name="hora_inicio31" class="hora-inicio"></select>
                        <select id="hora_fin31" name="hora_fin31" class="hora-fin"></select>
                    </td>

                    <!-- MARTES -->
                    <td>
                        <select id="hora_inicio32" name="hora_inicio32" class="hora-inicio"></select>
                        <select id="hora_fin32" name="hora_fin32" class="hora-fin"></select>
                    </td>

                    <!-- MIERCOLES -->
                    <td>
                        <select id="hora_inicio33" name="hora_inicio33" class="hora-inicio"></select>
                        <select id="hora_fin33" name="hora_fin33" class="hora-fin"></select>
                    </td>

                    <!-- JUEVES -->
                    <td>
                        <select id="hora_inicio34" name="hora_inicio34" class="hora-inicio"></select>
                        <select id="hora_fin34" name="hora_fin34" class="hora-fin"></select>
                    </td>

                    <!-- VIERNES -->
                    <td>
                        <select id="hora_inicio35" name="hora_inicio35" class="hora-inicio"></select>
                        <select id="hora_fin35" name="hora_fin35" class="hora-fin"></select>
                    </td>

                    <!-- SABADO -->
                    <td>
                        <select id="hora_inicio36" name="hora_inicio36" class="hora-inicio"></select>
                        <select id="hora_fin36" name="hora_fin36" class="hora-fin"></select>
                    </td>
                </tr>

                <tr>
                    <td><label for="asignatura1">4.</label>
                        <td>
                            <input type="text" id="asignatura4" name="asignatura4" list="asignatura-list4">
                            <datalist id="asignatura-list4"></datalist>
                        </td>

                        <td>
                            <select id="grupo4" name="grupo4" class="group">
                            </select>
                        </td>

                        <td>
                            <input type="number" id="horas4" name="horas4" class="groupHoras">
                        </td>
                        <!-- HORARIOS -->
                        <!-- LUNES -->
                        <td>
                            <select id="hora_inicio41" name="hora_inicio41" class="hora-inicio"></select>
                            <select id="hora_fin41" name="hora_fin41" class="hora-fin"></select>
                        </td>

                        <!-- MARTES -->
                        <td>
                            <select id="hora_inicio42" name="hora_inicio42" class="hora-inicio"></select>
                            <select id="hora_fin42" name="hora_fin42" class="hora-fin"></select>
                        </td>

                        <!-- MIERCOLES -->
                        <td>
                            <select id="hora_inicio43" name="hora_inicio43" class="hora-inicio"></select>
                            <select id="hora_fin43" name="hora_fin43" class="hora-fin"></select>
                        </td>

                        <!-- JUEVES -->
                        <td>
                            <select id="hora_inicio44" name="hora_inicio44" class="hora-inicio"></select>
                            <select id="hora_fin44" name="hora_fin44" class="hora-fin"></select>
                        </td>

                        <!-- VIERNES -->
                        <td>
                            <select id="hora_inicio45" name="hora_inicio45" class="hora-inicio"></select>
                            <select id="hora_fin45" name="hora_fin45" class="hora-fin"></select>
                        </td>

                        <!-- SABADO -->
                        <td>
                            <select id="hora_inicio46" name="hora_inicio46" class="hora-inicio"></select>
                            <select id="hora_fin46" name="hora_fin46" class="hora-fin"></select>
                        </td>
                </tr>

                <tr>
                    <td><label for="asignatura1">5.</label>
                        <td>
                            <input type="text" id="asignatura5" name="asignatura5" list="asignatura-list5">
                            <datalist id="asignatura-list5"></datalist>
                        </td>

                        <td>
                            <select id="grupo5" name="grupo5" class="group">
                            </select>
                        </td>

                        <td>
                            <input type="number" id="horas5" name="horas5" class="groupHoras">
                        </td>
                        <!-- HORARIOS -->
                        <!-- LUNES -->
                        <td>
                            <select id="hora_inicio51" name="hora_inicio51" class="hora-inicio"></select>
                            <select id="hora_fin51" name="hora_fin51" class="hora-fin"></select>
                        </td>

                        <!-- MARTES -->
                        <td>
                            <select id="hora_inicio52" name="hora_inicio52" class="hora-inicio"></select>
                            <select id="hora_fin52" name="hora_fin52" class="hora-fin"></select>
                        </td>

                        <!-- MIERCOLES -->
                        <td>
                            <select id="hora_inicio53" name="hora_inicio53" class="hora-inicio"></select>
                            <select id="hora_fin53" name="hora_fin53" class="hora-fin"></select>
                        </td>

                        <!-- JUEVES -->
                        <td>
                            <select id="hora_inicio54" name="hora_inicio54" class="hora-inicio"></select>
                            <select id="hora_fin54" name="hora_fin54" class="hora-fin"></select>
                        </td>

                        <!-- VIERNES -->
                        <td>
                            <select id="hora_inicio55" name="hora_inicio55" class="hora-inicio"></select>
                            <select id="hora_fin55" name="hora_fin55" class="hora-fin"></select>
                        </td>

                        <!-- SABADO -->
                        <td>
                            <select id="hora_inicio56" name="hora_inicio56" class="hora-inicio"></select>
                            <select id="hora_fin56" name="hora_fin56" class="hora-fin"></select>
                        </td>
                </tr>
                </tr>

                <tr>
                    <td><label for="asignatura1">6.</label>
                        <td>
                            <input type="text" id="asignatura6" name="asignatura6" list="asignatura-list6">
                            <datalist id="asignatura-list6"></datalist>
                        </td>

                        <td>
                            <select id="grupo6" name="grupo6" class="group">
                            </select>
                        </td>

                        <td>
                            <input type="number" id="horas6" name="horas6" class="groupHoras">
                        </td>
                        <!-- HORARIOS -->
                        <!-- LUNES -->
                        <td>
                            <select id="hora_inicio61" name="hora_inicio61" class="hora-inicio"></select>
                            <select id="hora_fin61" name="hora_fin61" class="hora-fin"></select>
                        </td>

                        <!-- MARTES -->
                        <td>
                            <select id="hora_inicio62" name="hora_inicio62" class="hora-inicio"></select>
                            <select id="hora_fin62" name="hora_fin62" class="hora-fin"></select>
                        </td>

                        <!-- MIERCOLES -->
                        <td>
                            <select id="hora_inicio63" name="hora_inicio63" class="hora-inicio"></select>
                            <select id="hora_fin63" name="hora_fin63" class="hora-fin"></select>
                        </td>

                        <!-- JUEVES -->
                        <td>
                            <select id="hora_inicio64" name="hora_inicio64" class="hora-inicio"></select>
                            <select id="hora_fin64" name="hora_fin64" class="hora-fin"></select>
                        </td>

                        <!-- VIERNES -->
                        <td>
                            <select id="hora_inicio65" name="hora_inicio65" class="hora-inicio"></select>
                            <select id="hora_fin65" name="hora_fin65" class="hora-fin"></select>
                        </td>

                        <!-- SABADO -->
                        <td>
                            <select id="hora_inicio66" name="hora_inicio66" class="hora-inicio"></select>
                            <select id="hora_fin66" name="hora_fin66" class="hora-fin"></select>
                        </td>
                </tr>
                </tr>

                <tr>
                    <td><label for="asignatura1">7.</label>
                        <td>
                            <input type="text" id="asignatura7" name="asignatura7" list="asignatura-list7">
                            <datalist id="asignatura-list7"></datalist>
                        </td>

                        <td>
                            <select id="grupo7" name="grupo7" class="group">
                            </select>
                        </td>

                        <td>
                            <input type="number" id="horas7" name="horas7" class="groupHoras">
                        </td>
                        <!-- HORARIOS -->
                        <!-- LUNES -->
                        <td>
                            <select id="hora_inicio71" name="hora_inicio71" class="hora-inicio"></select>
                            <select id="hora_fin71" name="hora_fin71" class="hora-fin"></select>
                        </td>

                        <!-- MARTES -->
                        <td>
                            <select id="hora_inicio72" name="hora_inicio72" class="hora-inicio"></select>
                            <select id="hora_fin72" name="hora_fin72" class="hora-fin"></select>
                        </td>

                        <!-- MIERCOLES -->
                        <td>
                            <select id="hora_inicio73" name="hora_inicio23" class="hora-inicio"></select>
                            <select id="hora_fin73" name="hora_fin73" class="hora-fin"></select>
                        </td>

                        <!-- JUEVES -->
                        <td>
                            <select id="hora_inicio74" name="hora_inicio74" class="hora-inicio"></select>
                            <select id="hora_fin74" name="hora_fin74" class="hora-fin"></select>
                        </td>

                        <!-- VIERNES -->
                        <td>
                            <select id="hora_inicio75" name="hora_inicio75" class="hora-inicio"></select>
                            <select id="hora_fin75" name="hora_fin75" class="hora-fin"></select>
                        </td>

                        <!-- SABADO -->
                        <td>
                            <select id="hora_inicio76" name="hora_inicio76" class="hora-inicio"></select>
                            <select id="hora_fin76" name="hora_fin76" class="hora-fin"></select>
                        </td>
                </tr>
                </tr>


                <tr>
                    <td><label for="asignatura1">8.</label>
                        <td>
                            <input type="text" id="asignatura8" name="asignatura8" list="asignatura-list8">
                            <datalist id="asignatura-list8"></datalist>
                        </td>

                        <td>
                            <select id="grupo8" name="grupo8" class="group">
                            </select>
                        </td>

                        <td>
                            <input type="number" id="horas8" name="horas8" class="groupHoras">
                        </td>
                        <!-- HORARIOS -->
                        <!-- LUNES -->
                        <td>
                            <select id="hora_inicio81" name="hora_inicio81" class="hora-inicio"></select>
                            <select id="hora_fin81" name="hora_fin81" class="hora-fin"></select>
                        </td>

                        <!-- MARTES -->
                        <td>
                            <select id="hora_inicio82" name="hora_inicio82" class="hora-inicio"></select>
                            <select id="hora_fin82" name="hora_fin82" class="hora-fin"></select>
                        </td>

                        <!-- MIERCOLES -->
                        <td>
                            <select id="hora_inicio83" name="hora_inicio83" class="hora-inicio"></select>
                            <select id="hora_fin83" name="hora_fin83" class="hora-fin"></select>
                        </td>

                        <!-- JUEVES -->
                        <td>
                            <select id="hora_inicio84" name="hora_inicio84" class="hora-inicio"></select>
                            <select id="hora_fin84" name="hora_fin84" class="hora-fin"></select>
                        </td>

                        <!-- VIERNES -->
                        <td>
                            <select id="hora_inicio85" name="hora_inicio85" class="hora-inicio"></select>
                            <select id="hora_fin85" name="hora_fin85" class="hora-fin"></select>
                        </td>

                        <!-- SABADO -->
                        <td>
                            <select id="hora_inicio86" name="hora_inicio86" class="hora-inicio"></select>
                            <select id="hora_fin86" name="hora_fin86" class="hora-fin"></select>
                        </td>
                </tr>
                </tr>

            </table>

            <label for="total_horas_grupo">Total de Horas:</label>
            <input type="number" id="total_horas_grupo" name="total_horas_grupo" readonly><br>


            <!-- Nuevos campos para asignatura especial y horas dinamicos-->
            <table class="form-groupE">
                <thead>
                    <tr>
                        <th></th>
                        <th>Asignatura</th>
                        <th>Grupo</th>
                        <th>Horas</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sábado</th>
                    </tr>
                </thead>
                <tr>
                    <td><label for="asignaturaE1">1.</label></td>
                    <!-- ASIGNATURA -->
                    <td>
                        <input type="text" id="asignaturaE1" name="asignaturaE1" list="asignaturaE-list1">
                        <datalist id="asignaturaE-list1"></datalist>
                    </td>
                    <!-- GRUPO ASIGNATURAS -->
                    <td>
                        <div class="input-group">
                            <input id="grupoE1" type="text" placeholder="Escribe o selecciona un grupo" class="custom-input">
                            <select id="grupoSelectE1" name="grupoE1" class="group"></select>
                        </div>
                    </td>
                    <!-- HORAS ASIGNATURAS -->
                    <td>
                        <input type="number" id="horasE1" name="horasE1" class="groupHoras">
                    </td>
                    <!-- HORARIOS -->
                    <!-- LUNES -->
                    <td>
                        <select id="hora_inicioE11" name="hora_inicioE11" class="hora-inicio"></select>
                        <select id="hora_finE11" name="hora_finE11" class="hora-fin"></select>
                    </td>

                    <!-- MARTES -->
                    <td>
                        <select id="hora_inicioE12" name="hora_inicioE12" class="hora-inicio"></select>
                        <select id="hora_finE12" name="hora_finE12" class="hora-fin"></select>
                    </td>

                    <!-- MIERCOLES -->
                    <td>
                        <select id="hora_inicioE13" name="hora_inicioE13" class="hora-inicio"></select>
                        <select id="hora_finE13" name="hora_finE13" class="hora-fin"></select>
                    </td>

                    <!-- JUEVES -->
                    <td>
                        <select id="hora_inicioE14" name="hora_inicioE14" class="hora-inicio"></select>
                        <select id="hora_finE14" name="hora_finE14" class="hora-fin"></select>
                    </td>

                    <!-- VIERNES -->
                    <td>
                        <select id="hora_inicioE15" name="hora_inicioE15" class="hora-inicio"></select>
                        <select id="hora_finE15" name="hora_finE15" class="hora-fin"></select>
                    </td>

                    <!-- SABADO -->
                    <td>
                        <select id="hora_inicioE16" name="hora_inicioE16" class="hora-inicio"></select>
                        <select id="hora_finE16" name="hora_finE16" class="hora-fin"></select>
                    </td>
                </tr>
                <tr>
                    <td><label for="asignaturaE2">2.</label></td>
                    <td>
                        <input type="text" id="asignaturaE2" name="asignaturaE2" list="asignaturaE-list2">
                        <datalist id="asignaturaE-list2"></datalist>
                    </td>
                    <td>
                        <div class="input-group">
                            <input id="grupoE2" type="text" placeholder="Escribe o selecciona un grupo" class="custom-input">
                            <select id="grupoE2" name="grupoE2" class="group"></select>
                        </div>
                    </td>
                    <td>
                        <input type="number" id="horasE2" name="horasE2" class="groupHoras">
                    </td>
                    <!-- HORARIOS -->
                    <!-- LUNES -->
                    <td>
                        <select id="hora_inicioE21" name="hora_inicioE21" class="hora-inicio"></select>
                        <select id="hora_finE21" name="hora_finE21" class="hora-fin"></select>
                    </td>
                    <!-- MARTES -->
                    <td>
                        <select id="hora_inicioE22" name="hora_inicioE22" class="hora-inicio"></select>
                        <select id="hora_finE22" name="hora_finE22" class="hora-fin"></select>
                    </td>
                    <!-- MIERCOLES -->
                    <td>
                        <select id="hora_inicioE23" name="hora_inicioE23" class="hora-inicio"></select>
                        <select id="hora_finE23" name="hora_finE23" class="hora-fin"></select>
                    </td>
                    <!-- JUEVES -->
                    <td>
                        <select id="hora_inicioE24" name="hora_inicioE24" class="hora-inicio"></select>
                        <select id="hora_finE24" name="hora_finE24" class="hora-fin"></select>
                    </td>
                    <!-- VIERNES -->
                    <td>
                        <select id="hora_inicioE25" name="hora_inicioE25" class="hora-inicio"></select>
                        <select id="hora_finE25" name="hora_finE25" class="hora-fin"></select>
                    </td>
                    <!-- SABADO -->
                    <td>
                        <select id="hora_inicioE26" name="hora_inicioE26" class="hora-inicio"></select>
                        <select id="hora_finE26" name="hora_finE26" class="hora-fin"></select>
                    </td>
                </tr>

                <tr>
                    <td><label for="asignaturaE3">3.</label></td>
                    <td>
                        <input type="text" id="asignaturaE3" name="asignaturaE3" list="asignaturaE-list3">
                        <datalist id="asignaturaE-list3"></datalist>
                    </td>
                    <td>
                        <div class="input-group">
                            <input id="grupoE3" type="text" placeholder="Escribe o selecciona un grupo" class="custom-input">
                            <select id="grupoE3" name="grupoE3" class="group"></select>
                        </div>
                    </td>
                    <td>
                        <input type="number" id="horasE3" name="horasE3" class="groupHoras">
                    </td>
                    <!-- HORARIOS -->
                    <!-- LUNES -->
                    <td>
                        <select id="hora_inicioE31" name="hora_inicioE31" class="hora-inicio"></select>
                        <select id="hora_finE31" name="hora_finE31" class="hora-fin"></select>
                    </td>
                    <!-- MARTES -->
                    <td>
                        <select id="hora_inicioE32" name="hora_inicioE32" class="hora-inicio"></select>
                        <select id="hora_finE32" name="hora_finE32" class="hora-fin"></select>
                    </td>
                    <!-- MIERCOLES -->
                    <td>
                        <select id="hora_inicioE33" name="hora_inicioE33" class="hora-inicio"></select>
                        <select id="hora_finE33" name="hora_finE33" class="hora-fin"></select>
                    </td>
                    <!-- JUEVES -->
                    <td>
                        <select id="hora_inicioE34" name="hora_inicioE34" class="hora-inicio"></select>
                        <select id="hora_finE34" name="hora_finE34" class="hora-fin"></select>
                    </td>
                    <!-- VIERNES -->
                    <td>
                        <select id="hora_inicioE35" name="hora_inicioE35" class="hora-inicio"></select>
                        <select id="hora_finE35" name="hora_finE35" class="hora-fin"></select>
                    </td>
                    <!-- SABADO -->
                    <td>
                        <select id="hora_inicioE36" name="hora_inicioE36" class="hora-inicio"></select>
                        <select id="hora_finE36" name="hora_finE36" class="hora-fin"></select>
                    </td>
                </tr>
                <tr>
                    <td><label for="asignaturaE4">4.</label></td>
                    <td>
                        <input type="text" id="asignaturaE4" name="asignaturaE4" list="asignaturaE-list4">
                        <datalist id="asignaturaE-list4"></datalist>
                    </td>
                    <td>
                        <div class="input-group">
                            <input id="grupoE4" type="text" placeholder="Escribe o selecciona un grupo" class="custom-input">
                            <select id="grupoE4" name="grupoE4" class="group"></select>
                        </div>
                    </td>
                    <td>
                        <input type="number" id="horasE4" name="horasE4" class="groupHoras">
                    </td>
                    <td>
                        <select id="hora_inicioE41" name="hora_inicioE41" class="hora-inicio"></select>
                        <select id="hora_finE41" name="hora_finE41" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE42" name="hora_inicioE42" class="hora-inicio"></select>
                        <select id="hora_finE42" name="hora_finE42" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE43" name="hora_inicioE43" class="hora-inicio"></select>
                        <select id="hora_finE43" name="hora_finE43" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE44" name="hora_inicioE44" class="hora-inicio"></select>
                        <select id="hora_finE44" name="hora_finE44" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE45" name="hora_inicioE45" class="hora-inicio"></select>
                        <select id="hora_finE45" name="hora_finE45" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE46" name="hora_inicioE46" class="hora-inicio"></select>
                        <select id="hora_finE46" name="hora_finE46" class="hora-fin"></select>
                    </td>
                </tr>

                <tr>
                    <td><label for="asignaturaE5">5.</label></td>
                    <td>
                        <input type="text" id="asignaturaE5" name="asignaturaE5" list="asignaturaE-list5">
                        <datalist id="asignaturaE-list5"></datalist>
                    </td>
                    <td>
                        <div class="input-group">
                            <input id="grupoE5" type="text" placeholder="Escribe o selecciona un grupo" class="custom-input">
                            <select id="grupoE5" name="grupoE5" class="group"></select>
                        </div>
                    </td>
                    <td>
                        <input type="number" id="horasE5" name="horasE5" class="groupHoras">
                    </td>
                    <td>
                        <select id="hora_inicioE51" name="hora_inicioE51" class="hora-inicio"></select>
                        <select id="hora_finE51" name="hora_finE51" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE52" name="hora_inicioE52" class="hora-inicio"></select>
                        <select id="hora_finE52" name="hora_finE52" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE53" name="hora_inicioE53" class="hora-inicio"></select>
                        <select id="hora_finE53" name="hora_finE53" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE54" name="hora_inicioE54" class="hora-inicio"></select>
                        <select id="hora_finE54" name="hora_finE54" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE55" name="hora_inicioE55" class="hora-inicio"></select>
                        <select id="hora_finE55" name="hora_finE55" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE56" name="hora_inicioE56" class="hora-inicio"></select>
                        <select id="hora_finE56" name="hora_finE56" class="hora-fin"></select>
                    </td>
                </tr>

                <tr>
                    <td><label for="asignaturaE6">6.</label></td>
                    <td>
                        <input type="text" id="asignaturaE6" name="asignaturaE6" list="asignaturaE-list6">
                        <datalist id="asignaturaE-list6"></datalist>
                    </td>
                    <td>
                        <div class="input-group">
                            <input id="grupoE6" type="text" placeholder="Escribe o selecciona un grupo" class="custom-input">
                            <select id="grupoE6" name="grupoE6" class="group"></select>
                        </div>
                    </td>
                    <td>
                        <input type="number" id="horasE6" name="horasE6" class="groupHoras">
                    </td>
                    <td>
                        <select id="hora_inicioE61" name="hora_inicioE61" class="hora-inicio"></select>
                        <select id="hora_finE61" name="hora_finE61" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE62" name="hora_inicioE62" class="hora-inicio"></select>
                        <select id="hora_finE62" name="hora_finE62" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE63" name="hora_inicioE63" class="hora-inicio"></select>
                        <select id="hora_finE63" name="hora_finE63" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE64" name="hora_inicioE64" class="hora-inicio"></select>
                        <select id="hora_finE64" name="hora_finE64" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE65" name="hora_inicioE65" class="hora-inicio"></select>
                        <select id="hora_finE65" name="hora_finE65" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE66" name="hora_inicioE66" class="hora-inicio"></select>
                        <select id="hora_finE66" name="hora_finE66" class="hora-fin"></select>
                    </td>
                </tr>
                <tr>
                    <td><label for="asignaturaE7">7.</label></td>
                    <td>
                        <input type="text" id="asignaturaE7" name="asignaturaE7" list="asignaturaE-list7">
                        <datalist id="asignaturaE-list7"></datalist>
                    </td>
                    <td>
                        <div class="input-group">
                            <input id="grupoE7" type="text" placeholder="Escribe o selecciona un grupo" class="custom-input">
                            <select id="grupoE7" name="grupoE7" class="group"></select>
                        </div>
                    </td>
                    <td>
                        <input type="number" id="horasE7" name="horasE7" class="groupHoras">
                    </td>
                    <td>
                        <select id="hora_inicioE71" name="hora_inicioE71" class="hora-inicio"></select>
                        <select id="hora_finE71" name="hora_finE71" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE72" name="hora_inicioE72" class="hora-inicio"></select>
                        <select id="hora_finE72" name="hora_finE72" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE73" name="hora_inicioE73" class="hora-inicio"></select>
                        <select id="hora_finE73" name="hora_finE73" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE74" name="hora_inicioE74" class="hora-inicio"></select>
                        <select id="hora_finE74" name="hora_finE74" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE75" name="hora_inicioE75" class="hora-inicio"></select>
                        <select id="hora_finE75" name="hora_finE75" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE76" name="hora_inicioE76" class="hora-inicio"></select>
                        <select id="hora_finE76" name="hora_finE76" class="hora-fin"></select>
                    </td>
                </tr>

                <tr>
                    <td><label for="asignaturaE8">8.</label></td>
                    <td>
                        <input type="text" id="asignaturaE8" name="asignaturaE8" list="asignaturaE-list8">
                        <datalist id="asignaturaE-list8"></datalist>
                    </td>
                    <td>
                        <div class="input-group">
                            <input id="grupoE8" type="text" placeholder="Escribe o selecciona un grupo" class="custom-input">
                            <select id="grupoE8" name="grupoE8" class="group"></select>
                        </div>
                    </td>
                    <td>
                        <input type="number" id="horasE8" name="horasE8" class="groupHoras">
                    </td>
                    <td>
                        <select id="hora_inicioE81" name="hora_inicioE81" class="hora-inicio"></select>
                        <select id="hora_finE81" name="hora_finE81" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE82" name="hora_inicioE82" class="hora-inicio"></select>
                        <select id="hora_finE82" name="hora_finE82" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE83" name="hora_inicioE83" class="hora-inicio"></select>
                        <select id="hora_finE83" name="hora_finE83" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE84" name="hora_inicioE84" class="hora-inicio"></select>
                        <select id="hora_finE84" name="hora_finE84" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE85" name="hora_inicioE85" class="hora-inicio"></select>
                        <select id="hora_finE85" name="hora_finE85" class="hora-fin"></select>
                    </td>
                    <td>
                        <select id="hora_inicioE86" name="hora_inicioE86" class="hora-inicio"></select>
                        <select id="hora_finE86" name="hora_finE86" class="hora-fin"></select>
                    </td>
                </tr>
            </table>

            <label for="total_horasE_grupo">Total de Horas:</label>
            <input type="number" id="total_horasE_grupo" name="total_horasE_grupo" readonly><br>

            <!-- Nuevos campos para asignatura cargo-->
            <table class="form-groupC">
                <thead>
                    <tr>
                        <th></th>
                        <th>Cargo</th>
                        <th>Vigencia</th>
                        <th>Horas</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sábado</th>
                    </tr>
                </thead>
                <tr>
                    <td><label for="cargo">1.</label></td>
                    <!-- CARGO -->
                    <td>
                        <select id="cargo" name="cargo" required>
                            <option value=" ">NO APLICA</option>
                            <option value="PRESINDENTE DE ACADÉMIA">PRESINDENTE DE ACADEMIA</option>
                            <option value="SECRETARIO DE ACADEMIA">SECRETARIO DE ACADEMIA</option>
                        </select>
                    </td>
                    <!-- VIGENCIA CARGO -->
                    <td>
                        <input type="text" id="vigenciaCargo" name="vigenciaCargo">
                    </td>
                    <!-- HORAS CARGO -->
                    <td>
                        <input type="number" id="horasC" name="horasC" class="groupHoras">
                    </td>
                    <!-- HORARIOS -->
                    <!-- LUNES -->
                    <td>
                        <select id="hora_inicioC11" name="hora_inicioC11" class="hora-inicio"></select>
                        <select id="hora_finC11" name="hora_finC11" class="hora-fin"></select>
                    </td>

                    <!-- MARTES -->
                    <td>
                        <select id="hora_inicioC12" name="hora_inicioC12" class="hora-inicio"></select>
                        <select id="hora_finC12" name="hora_finC12" class="hora-fin"></select>
                    </td>

                    <!-- MIERCOLES -->
                    <td>
                        <select id="hora_inicioC13" name="hora_inicioC13" class="hora-inicio"></select>
                        <select id="hora_finC13" name="hora_finC13" class="hora-fin"></select>
                    </td>

                    <!-- JUEVES -->
                    <td>
                        <select id="hora_inicioC14" name="hora_inicioC14" class="hora-inicio"></select>
                        <select id="hora_finC14" name="hora_finC14" class="hora-fin"></select>
                    </td>

                    <!-- VIERNES -->
                    <td>
                        <select id="hora_inicioC15" name="hora_inicioC15" class="hora-inicio"></select>
                        <select id="hora_finC15" name="hora_finC15" class="hora-fin"></select>
                    </td>

                    <!-- SABADO -->
                    <td>
                        <select id="hora_inicioC16" name="hora_inicioC16" class="hora-inicio"></select>
                        <select id="hora_finC16" name="hora_finC16" class="hora-fin"></select>
                    </td>
                </tr>
            </table>

            <br>
            <button type="submit">Añadir Profesor</button>
        </form>
    </div>

    <!-- FORMULARIO DE ASIGNATURAS -->
    <div>
        <form id="add-asignatura-form" onsubmit="transformarMayusculas()">
            <label for="nombre_asignatura">Nombre:</label>
            <input type="text" id="nombre_asignatura" name="nombre_asignatura" required><br>

            <label for="horas_asignatura">Cantidad de Horas:</label>
            <input type="number" id="horas_asignatura" name="horas_asignatura" required><br>

            <button type="submit">Añadir Asignatura</button>
        </form>
    </div>


    <!-- FORMULARIO DE ASIGNATURAS ESPECIALES -->
    <div>
        <form id="add-asignaturaE-form" onsubmit="transformarMayusculas()">
            <label for="nombre_asignaturaE">Nombre:</label>
            <input type="text" id="nombre_asignaturaE" name="nombre_asignaturaE" required><br>

            <label for="horas_asignaturaE">Cantidad de Horas:</label>
            <input type="number" id="horas_asignaturaE" name="horas_asignaturaE" required><br>

            <button type="submit">Añadir Asignatura Especial</button>
        </form>
    </div>
    <div>

        <!-- EXPORTACION DE EXCEL -->

        <h2>Exportar</h2>
        <form id="export-form" method="POST" action="/export">
            <label for="collection">Colección:</label>
            <select id="collection" name="collection" required>
                <option value=""></option>
                <option value="profesores">Profesores</option>
                <option value="asignaturas">Asignaturas</option>
            </select><br>

            <label for="export-format">Formato:</label>
            <select id="export-format" name="format" required>
            <option value="xlsx">Excel (.xlsx)</option>
            <option value="csv">CSV (.csv)</option>
        </select><br>

            <div id="columns-container">
                <!-- Checkboxes will be generated here -->
            </div>

            <button type="submit">Exportar Datos</button>

        </form>
    </div>

    <div>
        <h2>Exportar Reporte de Profesores</h2>
        <!-- Botones para cargar y seleccionar -->
        <button id="load-professors">Cargar Profesores</button>
        <button id="select-all">Seleccionar Todos</button>

        <!-- Formulario emergente para solicitar FECHA DE APLICACIÓN y CONSECUTIVO -->
        <form id="export-selected-form" method="POST" action="/export-selected">
            <div id="professor-list-container">
                <!-- Lista dinámica de profesores cargada desde el servidor -->
            </div>
            <br><br>
            <label for="fechaAplicacion">Fecha de Aplicación:</label>
            <input type="date" id="fechaAplicacion" name="fechaAplicacion" required>
            <label for="consecutivo">Consecutivo:</label>
            <input type="text" id="consecutivo" name="consecutivo" required>
            <button type="submit">Exportar Selección</button>
        </form>

        <!-- Botón para exportar a PDF -->
        <form id="export-pdf-form" method="POST" action="/export-selected-pdf">
            <div id="professor-list-container-pdf">
                <!-- Lista dinámica de profesores cargada desde el servidor -->
            </div>
            <br><br>
            <label for="fechaAplicacionPdf">Fecha de Aplicación:</label>
            <input type="date" id="fechaAplicacionPdf" name="fechaAplicacion" required>
            <label for="consecutivoPdf">Consecutivo:</label>
            <input type="text" id="consecutivoPdf" name="consecutivo" required>
            <button type="submit">Exportar PDF</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>