<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Página Principal</title>
        </div>

</head>
<body>
    <div class="header-container">
    <h1 class="titulo">ACADEMYREPORT</h1>
    </div>
    <div class="botones-container-principal">
        <button onclick="location.href='/index'">ASIGNACION ACADEMICAS</button>
        <button onclick="location.href='pagina1.html'">ESTRUCTURA EDUCATIVA</button>
        <button onclick="location.href='pagina2.html'">REPORTEADOR</button>
        
    </div>
    
</body>
</html>
