<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='electronica/css/styles.css') }}">
    <title>Página Principal - Electrónica</title>
</head>

<body>
    <div class="header-container">
        <h1 class="titulo">ACADEMYREPORT - ELECTRÓNICA</h1>
    </div>

    <div class="botones-container-principal">
        <button onclick="location.href='/electronica/electronica_index'">ASIGNACIÓN ACADÉMICA</button>
        <button onclick="location.href='/electronica/electronica_reporteador'">REPORTEADOR</button>
    </div>
</body>

</html>